<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center" th:text="${title}">Default Title</h1>
    </div>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 text-center">
            <i class="fas fa-users fa-10x"></i>
            <h2>Clients</h2>
            <p>Manage your clients. Add, edit, or remove. Organize your client list.</p>
            <p>
                <a class="btn btn-secondary" href="/clients">Dive In</a>
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-map-marked-alt fa-10x"></i>
            <h2>Map</h2>
            <p>View your client footprint. Know where to focus and where to grow.</p>
            <p>
                <a class="btn btn-secondary" href="#">Dive In</a>
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-flask fa-10x"></i>
            <h2>Dosage</h2>
            <p>Dosage calculator. Know how much to add when adjustments are needed.</p>
            <p>
                <a class="btn btn-secondary" href="#">Dive In</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>