<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <h1 class="display-4 text-center" th:text="${title}">Default Title</h1>
</div>

<p th:unless="${clients} and ${clients.size()}">You have no clients.</p>

<!--<ul class="list-group list-group-flush" th:each="client : ${clients}">

    <li class="list-group-item" th:text="${client.firstName + ', ' + client.lastName}"></li>

</ul>-->

<div>
    <table class="table table-striped">
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.firstName + ', ' + client.lastName}"></td>

            <td>
                <a href="/clients/personal-info" class="btn btn-outline-secondary" role="button" aria-pressed="true">Personal Information</a>
            </td>

            <td>
                <a href="/clients/pool" class="btn btn-outline-secondary" role="button" aria-pressed="true">Pool Information</a>
            </td>

            <td>
                <a href="/clients/dosage" class="btn btn-outline-secondary" role="button" aria-pressed="true">Dosage Information</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br />
<div>
    <a href="/clients/add" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Add Client</a>
</div>

</body>
</html>

