<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-pool">


<nav th:replace="fragments :: navigation"></nav>

    <div class="container">
        <div>
            <h1 class="display-4 text-center" id="title" th:text="${title}">Default Title</h1>
        </div>

        <br/>
        <div class="round">
            <div>
                <h2 th:text="${user + ' Appointments'}"></h2>
            </div>

            <br/>

            <p th:unless="${appointments} and ${appointments.size()}">You have no appointments.</p>

            <table class="table table-lg table-borderless">
                <tbody>
                <tr th:each="appointment : ${appointments}" class="border border-dark">

                    <tr class="row">
                        <td class="col-md-4 h3" th:text="${#dates.dayOfWeekName(appointment.date) + ', ' + #dates.monthNameShort(appointment.date) + '. ' + #dates.day(appointment.date)}"></td>

                        <td class="col-md-auto h5" th:text="${'@ ' + appointment.appTime}"></td>

                        <td class="col-md-auto h5" th:text="${'Client: ' + appointment.client.firstName + ' ' + appointment.client.lastName}"></td>

                        <td class="col-md-auto h5" th:text="${'Objective: ' + appointment.title}"></td>
                    </tr>

                    <tr class="row">
                        <td th:text="${appointment.description}" class="col font-size"></td>
                    </tr>

                </tr>
                </tbody>
            </table>
        </div>

        <br />

        <div class="row" style="max-width:350px;">

            <div class="col">
                <a href="/appointments/add" class="btn btn-dark active" role="button" aria-pressed="true"><i class="far fa-calendar-plus"></i> Schedule Appointment</a>
            </div>

        </div>

    </div>

</body>
</html>